{:paths ["src"
         "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         nrepl/nrepl         {:mvn/version "1.0.0"}
         mount/mount         {:mvn/version "0.1.17"}}
 :aliases
 {:dev {:extra-paths ["src-dev"]
        :extra-deps  {cider/cider-nrepl           {:mvn/version "0.30.0"}
                      org.clojure/tools.namespace {:mvn/version "1.4.4"}}
        :main-opts   ["-m" "nrepl.cmdline"
                      "--bind" "0.0.0.0"
                      "--port" "1337"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
  :app {:main-opts ["-m" "temple-gong.main"]}}}
